@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
    box-sizing: border-box;
}
h1,h2,h3,h4,p{
    margin: 0;
    padding: 0;
}
button{
    padding: 20px 10px;
    font-family: inherit;
    border: 0;
    font-size: 1em;
    border: 1px solid #fff;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .logo{
      font-size: 2.2em;
      font-weight: 600;
      color: #fff;
      margin-top: 6px;
  }

  nav{
      color: #fff;
      ul{
          margin: 0;
          padding: 0;
          list-style: none;
          li{
              display: inline-block;
              padding: 20px;
              a{
                  color: #fff;
                  text-decoration: none;
              }
          }
      }
  }
}

section.hero{
    background-color: #1C073E;
    height: 100vh;

    .hero-content{
        max-width: 370px;
        top: 30%;
        position: absolute;
        left: 10%;
    }

    h1{
        font-size: inherit;
        color: #fff;
        font-size: 2.6em;
        margin-bottom: .6em;
        line-height: 1.3em;

        span{
            color: #ffd500;
        }
    }

    p{
        font-size: 1em;
        margin-bottom: 2em;
        color: #fff;
    }

    .signup-btn{
        background-color: #fff;
        color: #1c073e;
    }
    .talk-btn{
        background-color: #1c073e;
        color: #fff;
    }
    .illustration{
        overflow: hidden;
        height: 100vh;
        display: flex;
        align-items: flex-end;
        svg{
            position: absolute;
            right: 0;
            width: 100%;
            height: auto;

        }
    }
}

